body{
    background-image: url(./imagens/fundo-roxo.jpg);
    background-size: auto;
    background-position-x: center;
    font-size: 26px;
    font-family: 'Segoe UI';
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    margin: 50px;
    color: #ffffff;
    text-decoration: underline;
    text-align: center;
}

#paragrafo-01 {
    background-color: #f5f5f5;
    border: 8px solid #f0cce2;
    padding: 20px;
    margin: 20px 100px;
}

#paragrafo-02 {
    background-color: #f0cce2;
    border: 8px solid #f5f5f5;
    padding: 20px;
    margin: 20px 100px;
}

#footer {
    font-size: 15px;
    color: #ffffff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#footer img {
    width: 14px;
}